# Interviewee information 
{{ interviewee_information }}

# Transcript:
The following is a transcript of the last previous part of a qualitative interview.
{{ transcript }}

# Task
Please come up with an answer to the following question that fits with your instructions and the transcript.

Question: {{ question }}

- The answer should be formulated in a way that fits your description.
- Answers should be in the style of an interview
- Reply only with your answer to the question
{% if translation %}
The interview will be conducted in {{ translation }}. Please ensure that your answers are translated into the appropriate language.

You should only respond with the translated answer without any commentary.
{% endif %}
