You are given a text excerpt from a semi-structured interview. Your task is to determine whether the criterion described below is met.
{% if classification_examples %}

Here are some examples:
```json
{{ classification_examples }}
```
{% endif %}
{% if interview_history %}

Here is the previous part of the interview for context:

"""interview_context:
{{ interview_history }}
"""
{% endif %}

Criterion: "{{ next_question_instruction }}"

Text to evaluate:

"""text:
{{ text }}
"""

Does the text above satisfy the criterion? Reply true if yes, false if no.
