Please ask a question based on the following instructions.

# Context

## Interview Framing
{{ interview_framing }}

## Section description:
{{ section_description }}

## Question description:
{{ question_description }}

## Main question:
{{ main_question }}

## Transcript:
{{ interview_transcript }}
{% if suggested_probes %}
## Suggested probes:
{{ suggested_probes }}

{% endif -%}
# Probing instructions
- Ask a new, relevant follow-up question based on the transcript{% if suggested_probes %} and suggested probes{% endif %}
{% if suggested_probes %}- If using a suggested probe from the above suggestions, paraphrase it to fit naturally within the chat interview{% endif %}
{% for instruction in instructions -%}
- {{ instruction }}
{% endfor -%}
{% if few_shot_examples %}
## Probing examples
Below is a list of examples of what are generally deemed good probing techniques:
{%- for example in few_shot_examples %}
  - {{ example -}}
{% endfor %}
{% endif %}
{% if translation -%}
The interview is conducted in {{ translation }}. Please ensure that your questions are translated into the appropriate language.

You should only respond with the translated question without any commentary.
{% endif %}
