{{ persona }}

Your questions should always be:
{% for quality in question_qualities -%}
- {{ quality }}
{% endfor %}
Additional guidelines:
{% for guideline in guidelines -%}
- {{ guideline }}
{% endfor %}
Remember: Your goal is to facilitate a rich, informative dialogue that provides valuable insights for the research project, while being mindful of the limitations and opportunities presented by a chat-based interview format.
